flows (1).json
[{"id":"2065016b.34320e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"796456aa.9916c8","type":"debug","z":"2065016b.34320e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":594.5,"y":105,"wires":[]},{"id":"ec1ebb0c.0a9a98","type":"watson-conversation-v1","z":"2065016b.34320e","name":"CustCare","workspaceid":"e8760beb-70bb-48ad-a2d5-14414b0c7e8e","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a1ce6079-a51c-45c7-a9b6-87c9cad723ae","timeout":"","optout-learning":false,"x":406,"y":79,"wires":[["796456aa.9916c8","c415b973.66cbb8"]]},{"id":"3c6a93aa.891a0c","type":"function","z":"2065016b.34320e","name":"Function1","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":258,"y":83,"wires":[["ec1ebb0c.0a9a98"]]},{"id":"c415b973.66cbb8","type":"function","z":"2065016b.34320e","name":"Function2","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1)\n{\n    for(var i in msg.payload.context.webhook_result_1.results)\n    {\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n        \n    }\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":582,"y":218,"wires":[["5a8e8217.a74bcc"]]},{"id":"5a8e8217.a74bcc","type":"ui_text","z":"2065016b.34320e","group":"138a01ce.f0714e","order":3,"width":"13","height":"11","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":615,"y":312,"wires":[]},{"id":"41ea64a9.cabc7c","type":"ui_form","z":"2065016b.34320e","name":"","label":"","group":"988fb078.1a958","order":1,"width":0,"height":0,"options":[{"label":"Enter the text","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":186,"wires":[["3c6a93aa.891a0c"]]},{"id":"138a01ce.f0714e","type":"ui_group","z":"","name":"Answer","tab":"fba15f85.885ed","order":3,"disp":true,"width":"20","collapse":false},{"id":"988fb078.1a958","type":"ui_group","z":0,"name":"Input","tab":"fba15f85.885ed","order":1,"disp":true,"width":"8","collapse":false},{"id":"fba15f85.885ed","type":"ui_tab","z":0,"name":"Ecobee ChatBot","icon":"dashboard","disabled":false,"hidden":false}]